<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
<div>
   <div> 
      <h2><a>{{title}}</a>
         <i (click)="onEdit()" 
            [ngClass]="(mode==3)?'list-mode-active':'list-mode'"
            class="fas fa-pencil-alt list-mode"  
            title="Edit Mode">
         </i>
         <i (click)="onDetails()" 
            [ngClass]="(mode==2)?'list-mode-active':'list-mode'"
            class="far fa-eye list-mode" 
            title="Show Details">
         </i>
         <i addMode="/items" (click)="onAdd()" title="Add New"></i>
      </h2>
   </div>
</div>
<hr>

<div>
   <ul class="list-group mt-2">
      <li class="list-group-item list-row" 
         *ngFor="let item of items; let i = index;"
         (click)="onSelect(item)"
         [class.selected]="selectedItem === item">
         <span class="no-decor">{{item.name}}</span>
         <span 
            (click)="onDelete(item.id)" 
            class="list-group-delete right">X
         </span>
      </li>
   </ul>
</div>