
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
   <div class="form-group form-row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
         <input 
            type="text" 
            id="name"
            name="name"
            class="form-control form-control-sm" 
            required
            ngModel
            #name="ngModel"
         >
         <div class="help-block" *ngIf="!name.valid && name.touched">Name is required!</div>
      </div>
   </div>
   
   <div class="form-group form-row">
      <label for="details" class="col-sm-3 col-form-label">Details</label>
      <div class="col-sm-9">
         <textarea 
            class="form-control form-control-sm" 
            id="details" 
            name="details"
            rows="3"
            ngModel
         ></textarea>
      </div>
   </div>
   <div class="form-group form-row">
         <label for="staticLevel" class="col-sm-3 col-form-label">Position</label>
         <div class="col-sm-9">
            <select 
               class="form-control form-control-sm"
               id="staticLevel"
               name="level"
               ngModel>
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
            </select>
         </div>
      </div>
   <hr>
   <button 
      class="btn btn-sm btn-secondary" 
      type="submit" 
      [disabled]="!f.valid"
      (click)="onSubmit()">Add</button>
   <button 
      class="btn btn-sm btn-secondary ml-2" 
      [hidden]="!f.valid"
      (click)="onClear()">Clear</button>
   <button 
      class="btn btn-sm btn-secondary ml-2" 
      (click)="onCancel()">Cancel</button>
</form>
   
