<form #formRef="ngForm" class="form">
   <div class="form-body">
      <div class="form-group form-row">
         <label for="staticName" class="col-sm-3 form-label noselect">Name</label>
         <div class="col-sm-9">
            <input 
               type="text" 
               id="staticName"
               name="name"
               class="form-control form-control-sm" 
               required
               ngModel
               #name="ngModel">
            <div class="warning-section" *ngIf="name.invalid && (name.touched || name.dirty)">Name is
               required!</div>
         </div>
      </div>
      
      <div class="form-group form-row">
            <label for="staticDetails" class="col-sm-3 form-label noselect">Details</label>
            <div class="col-sm-9">
               <textarea 
                  class="form-control form-control-sm small" 
                  id="staticDetails" 
                  name="details"
                  rows="3"
                  ngModel>
               </textarea>
            </div>
         </div>

      <div class="form-group form-row">
         <label for="staticLevel" class="col-sm-3 form-label noselect">Position</label>
         <div class="col-sm-9">
            <select 
               class="form-control form-control-sm" 
               id="staticLevel" 
               name="position" 
               ngModel>
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
            </select>
         </div>
      </div>
      

   </div>

   <div class="form-footer">
      <div class="form-row">
         <div class="col-sm-3"></div>
         <div class="col-sm-9">
            <button 
               class="btn btn-sm btn-secondary" 
               (tsSubmitIfValid)="onSubmit()">
               Add
            </button>
            <button 
               class="btn btn-sm btn-secondary ml-2" 
               [hidden]="!formRef.dirty" (click)="onClear()">
               Reset
            </button>
            <button 
               class="btn btn-sm btn-secondary ml-2" 
               (click)="onCancel()">
               Cancel
            </button>
         </div>
      </div>
   </div>
</form>